* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 10vh 10vw;
    background: linear-gradient(#2699e3, #2699e3 25vh, #e9e9e9 25vh, #e9e9e9);
}

button {
    border: 0 none;
    padding: 0.5rem 1.5rem;
    background: #1188d4;
    color: #ffffff;
    text-transform: uppercase;
}

button:focus {
    text-decoration: none;
    outline: 0 none;
}

input {
    border: 0 none;
    padding: 0.5rem 1rem;
}

input:focus {
    outline: 0 none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

form input {
    transition: all 0.5s;
    flex: 1
}

.chat {
    max-width: 1100px;
    margin: 0 auto;
}

.chat-header,
.chat-footer {
    padding: 2rem;
    height: 10vh;
    background: #f7f7f7;
    display: flex;
    align-items: center;
}

.chat-messages {
    height: 60vh;
    background: #ffffff;
    padding: 1rem 5rem;
    overflow: hidden;
}

.chat-message {
    padding: 1rem 0 1rem 2.5rem;
    position: relative;
    min-height: 24px;
}

.chat-message:before {
    content: '';
    background: url(data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%2011.75c-.69%200-1.25.56-1.25%201.25s.56%201.25%201.25%201.25%201.25-.56%201.25-1.25-.56-1.25-1.25-1.25zm6%200c-.69%200-1.25.56-1.25%201.25s.56%201.25%201.25%201.25%201.25-.56%201.25-1.25-.56-1.25-1.25-1.25zM12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm0%2018c-4.41%200-8-3.59-8-8%200-.29.02-.58.05-.86%202.36-1.05%204.23-2.98%205.21-5.37C11.07%208.33%2014.05%2010%2017.42%2010c.78%200%201.53-.09%202.25-.26.21.71.33%201.47.33%202.26%200%204.41-3.59%208-8%208z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E);
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    width: 24px;
    height: 24px;
}

.chat-message:not(:first-child) {
    border-top: 1px solid #e9e9e9;
}

.username-form-container {
    transition: opacity 0.15s linear 0.55s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
}

.username-form-container .username-form {
    transition: transform 0.5s;
    width: calc(100% - 20vw - 4rem);
    max-width: calc(1100px - 4rem);
}

.hide-username .username-form-container {
    opacity: 0;
}

.hide-username .username-form {
    transform: translate3d(0, -35vh, 0);
}

.hide-username .username-form input {
    padding: 0;
    height: 1rem;
    font-size: 1rem;
    background: transparent;
}

.hide-username .username-form button {
    display: none;
}